body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);


}


header {
    display: flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 40px;
    gap: 28px;
    text-transform: uppercase;

}

.nav-item:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #FC00FF;
}

section {
    width: 100%;
    padding-left: 8%;
   padding-right: 8%;
   padding-top: 2%;
}

.moldura_videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

